*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol,
a {
  padding: 0;
}

ul,
li {
  list-style: none;
}

body,
a,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "GothamPro";
  src: url("fonts/GothamPro.ttf");
}

html {
  font-size: 62.5%;
}

body {
  font-family: "GothamPro";
  font-size: 1.4rem;
  background-color: #1E3747;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.header {
  padding: 1.1rem 0;
  background-color: #1E3747;
  color: #fff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_title {
  position: relative;
  margin: 0 1.9rem;
  font-size: 1rem;
  opacity: 60%;
  cursor: default;
  font-weight: normal;
}

.header_title::after {
  position: absolute;
  content: '';
  top: 0;
  right: -2.7rem;
  width: 0.1rem;
  height: 2.6rem;
  background-color: #fff;
  opacity: 60%;
}

.header__svg-tel {
  margin-right: -1rem;
  margin-left: 4.6rem;
}

.header__tel {
  position: relative;
  margin: 0.4rem 1.9rem 0;
  font-size: 1.6rem;
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header__tel:hover {
  opacity: 80%;
}

.header__tel:last-child::before {
  position: absolute;
  content: '';
  width: 0.1rem;
  height: 1.5rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  left: -1.8rem;
  top: 0.2rem;
  background-color: #fff;
  opacity: 60%;
}

.header__personal-area {
  display: inline-block;
  margin-top: 0.3rem;
  font-size: 1.4rem;
  color: #fff;
  border-bottom: 0.1rem dashed rgba(255, 255, 255, 0.2);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header__personal-area:hover {
  opacity: 80%;
}

.header__language {
  position: relative;
  display: inline-block;
  margin-left: 4rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  color: #fff;
  opacity: 60%;
}

.header__language::after {
  position: absolute;
  content: '';
  top: 0.5rem;
  right: -0.6rem;
  width: 0.2rem;
  height: 0.6rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
}

.header__language::before {
  position: absolute;
  content: '';
  top: 0.5rem;
  right: -0.9rem;
  width: 0.2rem;
  height: 0.6rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.--bgwhite {
  background-color: #fff;
  padding: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5.5rem;
}

.nav__item {
  margin: 0 5.5rem;
  margin-top: 2.8rem;
}

.nav__link {
  position: relative;
  font-size: 1.4rem;
  color: #1E3747;
  background-color: #fff;
}

.nav__link::before {
  border: medium solid transparent;
  content: "";
  right: -2rem;
  top: 0.7rem;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #516C85 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
  opacity: 30%;
  border-width: 0.5rem;
  margin-left: -2.5rem;
}

.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__search {
  cursor: pointer;
}

.nav__basket {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4.2rem;
  max-width: 14.6rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.6rem 0;
  padding-left: 2.2rem;
  color: #fff;
  background-color: #FF9027;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.nav__basket:hover {
  background-color: #fa8212;
}

.nav__svg-basket {
  margin-right: 2rem;
  margin-top: -0.3rem;
}

.nav__basket-circle {
  position: absolute;
  top: 2.8rem;
  left: 3.3rem;
  display: inline-block;
  background: #fff;
  color: #FF9027;
  text-align: center;
  border-radius: 50%;
  padding: 0.3rem  0;
  width: 2rem;
  height: 2rem;
}

.nav__basket-item {
  font-size: 1.4rem;
  font-weight: 400;
}

.nav__sum {
  margin-left: 4.3rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.nav__sum > img {
  height: 1rem;
  margin-left: 0.4rem;
}

.intro {
  max-height: 48rem;
  position: relative;
  z-index: 5;
  overflow: hidden;
  background-size: 100%;
  background-image: url(img/main-bg.jpg);
}

.intro__logo {
  margin-top: 11.6rem;
  height: 3.3rem;
}

.intro__title {
  margin-top: 1.5rem;
  font-size: 2.4rem;
  cursor: default;
  color: #fff;
  line-height: 3rem;
}

.intro__text {
  margin: 2rem 0 5rem;
  font-size: 1.6rem;
  cursor: default;
  color: #fff;
  font-weight: 400;
  line-height: 2.7rem;
}

.intro__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__link {
  padding: 2rem 3rem;
  background-color: #FF9027;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.intro__link:hover {
  background-color: #fa8212;
}

.intro__arrow {
  padding: 2rem;
  background: #fff;
  background-color: #db822e;
}

.intro__bg-layer {
  z-index: 4;
  position: relative;
  overflow: hidden;
  right: -60rem;
  top: -60rem;
  width: 65rem;
  height: 90rem;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  background-color: #F8F9FD;
}

.intro__bg-pattern {
  position: relative;
  overflow: hidden;
  z-index: 5;
  top: 20rem;
  right: 15rem;
  background-image: url(img/pattern.svg);
  width: 100rem;
  height: 60rem;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  background-color: #234051;
  opacity: 6%;
}

.intro__compressor {
  position: relative;
  z-index: 6;
  top: -30rem;
  right: -5rem;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.--small {
  position: relative;
  max-width: 27.7rem;
  max-height: 28.8rem;
  z-index: 6;
  top: -83rem;
  left: 34rem;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.--small > img {
  width: 100%;
  max-height: 100%;
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item {
  position: relative;
  text-align: center;
  padding: 5.5rem 4.5rem;
}

.advantages__item::after {
  position: absolute;
  right: 0rem;
  top: 5.5rem;
  content: '';
  width: 0.1rem;
  height: 15rem;
  background-color: #516C85;
  opacity: 15%;
}

.advantages__item:last-child::after {
  display: none;
}

.advantages__speed-arrow {
  position: relative;
  right: 2.6rem;
  top: 0.4rem;
}

.advantages__title {
  margin-top: 3.7rem;
  cursor: default;
  font-size: 1.6rem;
  color: #4A6278;
}

.advantages__text {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-top: 1rem;
  cursor: default;
  color: #4A6278;
}

.productions__list {
  margin-right: 8.4rem;
}

.productions__item {
  padding: 2rem 0 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #1E3747;
  opacity: 20%;
  text-transform: uppercase;
}

.productions__item:first-child {
  padding-top: 4rem;
}

.--active {
  position: relative;
  margin-left: 3rem;
  font-style: 2.4rem;
  line-height: 3.2rem;
  opacity: 1;
}

.--active::before {
  position: absolute;
  content: '';
  width: 0.4rem;
  height: 5.2rem;
  background-color: #FF9027;
  left: -3rem;
  top: 3.3rem;
}

.productions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productions__product {
  margin: 1rem;
  background-color: #F8f9fd;
}

.productions__product-img-box {
  margin-top: 4.5rem;
  max-width: 27rem;
  max-height: 27rem;
}

.productions__product-img {
  width: 100%;
  height: 27rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.productions__product-grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 31rem 31rem 31rem;
      grid-template-columns: 31rem 31rem 31rem;
  -ms-grid-rows: 42rem;
      grid-template-rows: 42rem;
}

.productions__product-link {
  display: block;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
  color: #1e3747;
}

.productions__button {
  display: block;
  margin-left: 51%;
  padding: 6rem 0;
}

.productions__button-link {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 1.2rem 3rem;
  border-radius: 6.4rem;
  border: 0.1rem solid rgba(81, 108, 133, 0.2);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.productions__button-link:hover {
  background-color: #F8f9fd;
}

.--footer {
  max-width: 65rem;
  margin: 0 auto;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.--bgfooter-left {
  width: 50%;
  padding-left: 7.2%;
  padding-right: 5%;
  background-color: #1E3747;
}

.--bgfooter-right {
  width: 50%;
  padding-left: 5%;
  background-color: #243d4d;
}

.footer__list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list-link {
  display: block;
  margin: 1.5rem 0;
  color: #fff;
  opacity: 60%;
  font-size: 1.4rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.footer__list-link:hover {
  color: lightgray;
}

.--main {
  position: relative;
  display: block;
  margin: 2.2rem 0;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  opacity: 1;
}

.--main::after {
  content: url(img/footer-arrow.png);
  margin-left: 0.8rem;
}

.footer__list-clients-2 {
  position: relative;
  right: 15rem;
  top: 6rem;
}

.--bgfooter-contacts {
  background-color: #2d4656;
}

.footer__contact-items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
}

.footer__contact-item {
  position: relative;
  margin-bottom: 0.5rem;
  cursor: default;
  opacity: 40%;
  font-size: 1.4rem;
  color: #fff;
}

.footer__contact-item::after {
  position: absolute;
  content: '';
  width: 0.2rem;
  height: 5rem;
  left: 23rem;
  background-color: #fff;
  opacity: 40%;
}

.footer__contactitem {
  margin-bottom: 0.5rem;
  cursor: default;
  opacity: 40%;
  font-size: 1.4rem;
  color: #fff;
}

.footer__contact-link {
  position: relative;
  max-width: 17.3rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}

.footer__contacts-button {
  padding: 2rem 3rem;
  margin-left: 24.5rem;
  font-size: 1.2rem;
  background-color: #FF9027;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.footer__contacts-button:hover {
  background-color: #fa8212;
}

.footer__info {
  background-image: url(img/pattern-footer.svg);
}

.footer__logo {
  height: 2.2rem;
}

.footer__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5.5rem 0;
}

.footer__info-title {
  margin-top: 2.2rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  cursor: default;
  line-height: 3.2rem;
}

.footer__info-subtitle {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  line-height: 2rem;
}

.footer__info-offers {
  position: relative;
  width: 25.6rem;
  height: 16.2rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__pattern-big {
  width: 25.6rem;
  height: 16rem;
  opacity: 12%;
}

.footer__offers-box {
  position: absolute;
  top: 1rem;
  left: 6rem;
}

.footer__text {
  position: absolute;
  top: 10.3rem;
  left: 6.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.footer__text:hover {
  opacity: 80%;
}

.footer__info-user {
  margin: 2rem 0 0 4rem;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  line-height: 2rem;
}

.footer__info-item {
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.footer__info-item:hover {
  opacity: 80%;
}

.footer__info-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
}
/*# sourceMappingURL=style.css.map */